---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Home" activeNav="/">
  <div class="home-content">
    <img src="/images/brain.png" alt="Brain" class="brain-img" />
    <div class="home-text">
      <p>hi there. welcome to my brain.</p>
      <p class="light">i wanted to have my own corner of the internet so i vibe coded this page.</p>
      <p class="light">If you find any bugs, you can keep them &lt;3</p>
    </div>
  </div>
</BaseLayout>
